/target
/not_vcs
/build
.settings
TempBarcodeCrop.png
TempBarcodeCrop*.png
tempOCRtextOutput.txt
tempsharp.jpg
temptiff.jpg
temptiff.tif
imagecapture.properties
imagecapture.log
jobreport*csv
.DS_Store
.vscode
.idea
.factorypath
/profiles/dev/config.properties
/profiles/test/config.properties
/profiles/prod/config.properties
dependency-reduced-pom.xml
DataShot.iml
DataShot-*.jar
imagecapture*.log
datashot*.log
cleanupLog.regex
imagecapture-shortcuts.properties